<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="loginForm">

    <ion-list>

      <ion-item>
        <ion-label position="floating"> Email:<ion-text color="danger"> *</ion-text></ion-label>
        <ion-input formControlName="email" type="email" placeholder="Email..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Password:<ion-text color="danger"> *</ion-text></ion-label>
        <ion-input formControlName="password" type="password" placeholder="Password..."></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating"> Name:<ion-text color="danger"> *</ion-text></ion-label>
          <ion-input formControlName="name" type="text" placeholder="Name..."></ion-input>
      </ion-item>

      <ion-button (click)="sigin()" [disabled]="!loginForm.valid" expand="block" shape="round" color="tertiary"><ion-icon slot="end" name="log-in"></ion-icon>Sign In</ion-button>
      <ion-button (click)="createAccount()" [disabled]="!loginForm.valid" expand="block" fill="clear" color="tertiary"><ion-icon slot="end" name="create"></ion-icon>Create an Account ?</ion-button> 
       
    </ion-list>

  </form>

</ion-content>
