<ion-header>
  <ion-toolbar color="primary">
    <ion-title>chat-app</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <form [formGroup]="loginForm">

  <ion-card>

    <ion-card-header>    
      <ion-card-title color="success">
        <em>Login</em>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

    <ion-list>

      <ion-item>
        <ion-label position="floating"> Email:<ion-text color="danger"> *</ion-text></ion-label>
        <ion-input formControlName="email" clear-input="true" type="email" placeholder="Email..."></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Password:<ion-text color="danger"> *</ion-text></ion-label>
        <ion-input formControlName="password" clear-input="true" type="password" placeholder="Password..."></ion-input>
      </ion-item>

      <ion-button (click)="sigin()" [disabled]="!loginForm.valid" shape="round" color="primary"><ion-icon slot="end" name="log-in"></ion-icon>Sign In</ion-button>
      <ion-button  routerLink="/register" fill="clear" color="primary">Create an Account ?</ion-button> 

      </ion-list>
       
    </ion-card-content>

    </ion-card>
    
  </form>

</ion-content>
